
html, body{
    padding: 0;
    margin: 0;
}

#cartao-principal{
    height: 85%;
}

#cartao-principal > .p-card-body{
    height: 50%;
}

#cartao-principal > .p-card-body > .p-card-content{
    height: 100%;
}


.p-galleria {
    height: 100% !important
}

.p-galleria-content {
    height: 100% !important
}

.p-galleria-item-wrapper {
    width: 100%;
    margin-left: 12px;
    height: 90% !important;
}
.p-galleria-thumbnail-wrapper {
    margin-left: 12px;
    height: 100% !important;;
    padding: 0 !important;
}
.p-galleria-item-container {
    width: 100%;
    margin: 0 !important
}
.p-galleria-item {
    width: 100%
}

 .p-galleria-thumbnail-container {
     height: 100% !important;
    border-radius: 8px;
    background-color: #CCC !important;
}

.p-galleria-thumbnail-item {
    height: 30% !important;
}

#label-digite-ra {
    font-size: 12px!important;
}

.p-dock-action{
    width: 2.2rem !important;
    height: 2.2rem !important;
}

.p-dock-list {
    padding: 0.2rem !important;
}

/*.p-galleria-thumbnail-container{*/
/*    height: 10%*/
/*}*/


/*.p-galleria-item-wrapper, .p-galleria-item-container {*/
/*    width: 100%;*/
/*    margin-left: 2px;*/
/*}*/



/*.p-galleria-thumbnail-container {*/
/*    height: 80% !important;*/
/*}*/

/*.p-galleria-thumbnail-items-container {*/
/*    height: 55% !important;*/
/*}*/

/*.p-galleria-thumbnail-items {*/
/*    height: 100% !important;*/
/*}*/

/*.p-galleria-thumbnail-item {*/
/*    margin-bottom: 4px;*/
/*    border-radius: 12px;*/
/*}*/

/*.p-card-body, .p-card-content{*/
/*    height: 70%*/
/*}*/

/*.p-galleria, .p-galleria-content {*/
/*    height: 100%*/
/*}*/

/*.p-card {*/
/*}*/